{#
/**
 * @file
 * Default theme implementation for the Square shortcode.
 *
 * Available variables:
 * - icon: image for the square.
 * - title: Title.
 * - text: Main text.
 * - link: Link.
 * - color: Color of the border.
 * - flipText: Optional text for the flip side.
 * - flipBtnText: Optional text for the button on the flip side.
 */
#}
{% set classes = "group aspect-square flex flex-col justify-center items-center w-full md--w-1/3 border-4 border-solid border-#{color} no-underline p-10 m-2 first-of-type--ms-0 last-of-type:me-0" %}
{% set text_hover_classes = "group-hover--text-md-teal" %}
{% set img_classes = "not-prose block h-16" %}

{% if flipText is not empty or flipBtnText is not empty %}
{% set text_hover_classes = "group-hover--text-white group-hover--hidden" %}

	{% set classes = classes ~ " hover--bg-#{color} hover--border-#{color}" %}
	{% set img_classes = img_classes ~ " group-hover--hidden" %}
{% else %}
	{% set classes = classes ~ " hover--border-md-teal" %}
{% endif %}

<a class=" {{ classes }}" href="{{ link }}">
	<img class="{{ img_classes }}" src="{{ icon }}">
	<h3 class="{{ text_hover_classes }}">{{ title }}</h3>
	{% if text is not empty %}
		<p class="{{ text_hover_classes }}">{{ text }}</p>
	{% endif %}
	{% if flipText is not empty %}
		<p class="{{ text_hover_classes }} hidden">{{ flipText }}</p>
	{% endif %}
	{% if flipBtnText is not empty %}
		<span class="btn btn-primary {{ text_hover_classes }} hidden">{{ flipBtnText }}</span>
	{% endif %}
</a>

