{#
/**
 * @file
 * Default theme implementation for the Square shortcode.
 *
 * Available variables:
 * - icon: image for the square.
 * - title: Title.
 * - text: Main text.
 * - link: Link.
 * - color: Color of the border.
 * - flipText: Optional text for the flip side.
 * - flipBtnText: Optional text for the button on the flip side.
 */
#}
{% set classes = "group aspect-square flex flex-col justify-center items-center bg-white border-4 border-solid border-#{color} no-underline p-5" %}
{% set text_classes = "text-center overflow-wrap-anywhere group-hover--text-md-teal" %}
{% set img_classes = "not-prose block h-16" %}

{% if flipText is not empty or flipBtnText is not empty %}
	{% set text_classes = "group-hover--text-white group-hover--hidden" %}
	{% set classes = classes ~ " hover--bg-#{color} hover--border-md-teal" %}
	{% set img_classes = img_classes ~ " group-hover--hidden" %}
{% else %}
	{% if color == 'dark-teal' %}
		{% set classes = classes ~ " hover--border-orange" %}
	{% else %}
		{% set classes = classes ~ " hover--border-md-teal" %}
	{% endif %}
{% endif %}

<a class=" {{ classes }}" href="{{ link }}">
	<img class="{{ img_classes }}" src="{{ icon }}">
	<h3 class="{{ text_classes }} uppercase">{{ title }}</h3>
	{% if text is not empty %}
		<p class="{{ text_classes }} text-sm leading-tight">{{ text }}</p>
	{% endif %}
	{% if flipText is not empty %}
		<p class="{{ text_classes }} hidden">{{ flipText }}</p>
	{% endif %}
	{% if flipBtnText is not empty %}
		<span class="btn btn-primary {{ text_hover_classes }} hidden">{{ flipBtnText }}</span>
	{% endif %}
</a>

